<nav class="navbar">
  <div class="nav">
    <p class="lang">
    <i class="fas fa-globe"></i>
    {{ if .IsTranslated }}
        {{ range .Translations }}
        <a href="{{ .Permalink }}" title="{{ i18n "translated" }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    {{ else }}
        {{ range .Site.Home.Translations }}
        <a href="{{ .Permalink }}" title="{{ i18n "no-translation" }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    {{ end }}
    </p>
      

    <ul class="nav-links">
      {{ range .Site.Params.nav }}
        {{ if .icon }}
          <li>
              <a href="{{ .url | relLangURL }}" id="{{ .name }}" title="{{ i18n .name }}"
              ><em class="{{ .icon }}"></em
            ></a>
          </li>
          {{ else }}
          <li>
            <a href="{{ .url | relLangURL }}" id="{{ .name }}">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
