<nav class="navbar">
  <div class="nav">
    <p class="nav-logo">
    {{i18n "lang"}}
        {{ range .Translations }}
        <a href="{{ .Permalink }}" title="{{ .Language.LanguageName }}"><u>{{ .Lang }}</u></a>
        {{ end }}
    </p>
      

    <ul class="nav-links">
      {{ range .Site.Params.nav }}
        {{ if .icon }}
          <li>
              <a href="{{ .url | relLangURL }}" id="{{ .name }}" title="{{ i18n .name }}"
              ><em class="{{ .icon }}"></em
            ></a>
          </li>
          {{ else }}
          <li>
            <a href="{{ .url | relLangURL }}" id="{{ .name }}">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
